<section id="noticias" class="padded">
    <div class="container">
        <h2>Noticias</h2>
        <div class="row">
            <article class="col">
                <h3>Noticia 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita repudiandae alias nobis quae ab
                    quam commodi quibusdam id aperiam sint eaque omnis illo facere provident facilis ipsam rerum velit
                    consequuntur aspernatur, autem pariatur veniam esse voluptates corrupti. Commodi ex repellendus
                    necessitatibus, nobis consectetur atque odio quidem repudiandae provident.</p>
                <p>Iusto rerum recusandae, beatae sed nesciunt soluta in quos quidem laborum, dicta fuga illum tempora
                    cupiditate sapiente officiis numquam! Iusto accusantium quo, cupiditate iure incidunt minima minus
                    esse cum. Mollitia voluptas amet placeat nulla? Assumenda quis, doloremque, voluptatibus cumque
                    numquam iste, aliquam quos rerum doloribus voluptates saepe voluptatem?</p>
            </article>
            <article class="col">
                <h3>Noticia 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam cupiditate ducimus ratione
                    consequuntur reprehenderit, itaque at dicta voluptatem dolorem a? Aspernatur fugiat, exercitationem
                    maiores magni accusamus quis! Ex error repellendus nobis quia doloremque explicabo numquam mollitia
                    vel! Ducimus fugiat itaque nostrum impedit autem voluptate beatae assumenda eius.</p>
                <p>Fugiat ducimus, exercitationem autem reprehenderit aspernatur, aperiam sint repudiandae veniam totam
                    tempora cum. Error, ratione laudantium odio quam iste corporis magni mollitia nihil ipsum quisquam
                    itaque doloremque amet reiciendis voluptates sunt placeat non ut ab vel exercitationem. Esse
                    doloremque eveniet soluta excepturi incidunt! Perspiciatis consequuntur libero rerum laborum?</p>
            </article>
            <article class="col">
                <h3>Noticia 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita similique quas nisi possimus vero
                    non placeat perspiciatis iusto iure temporibus id enim sequi tenetur laboriosam minus, amet
                    molestiae sint quod magni quae, rem vel? Consequuntur repellendus odio excepturi, aut, officiis cum
                    rerum eius commodi, veniam nobis ipsa pariatur.</p>
                <p>Facilis, excepturi! Debitis voluptatibus architecto sit magni dignissimos sed suscipit vitae ad
                    repudiandae amet porro laborum provident, voluptatem aliquid ut accusamus incidunt expedita minus
                    error omnis. Laudantium ducimus sed officia at consequatur illum asperiores deleniti. Consequuntur,
                    modi. Et unde, sed omnis aliquam mollitia consequuntur culpa consectetur? Exercitationem, officia?
                </p>
            </article>
        </div>
    </div>
</section>