<section class="padded">
    <div class="container">
        <h2>Empleados</h2>
        <div class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
            
            <div class="col" *ngFor="let item of listaEmpleados">
                <div class="card">
                    <img src="{{rutaServicio}}fotos/{{item.foto}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nombres}} {{item.apellidos}}</h5>
                        <p class="card-text">{{item.cargo}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>