<section id="nosotros" class="padded">
    <div class="container">
        <h2>Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, commodi hic molestiae nobis culpa fuga
            explicabo cum illum, similique natus quaerat delectus maiores voluptatum nulla perferendis officia?
            Molestias dolorum, repellat rerum fugiat explicabo, odit eius veritatis dolor cum aspernatur sequi impedit
            modi ratione sed amet magnam numquam accusamus eum iusto quis reprehenderit. Distinctio molestiae est
            reiciendis vel incidunt delectus consequatur, nemo minima ea saepe alias dolorum at, vitae exercitationem
            placeat unde qui culpa officia iste consectetur magnam! Facilis itaque, molestiae impedit aliquid repellat
            animi eligendi neque harum a suscipit in porro, ullam minima, magni numquam quod excepturi dolorum saepe
            laudantium!</p>
    </div>
</section>