<section id="inversiones" class="padded">
    <div class="container">
        <h2>Inversiones</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates ducimus molestias rem,
            placeat maxime quas aliquam iste necessitatibus inventore, error laboriosam corporis laborum exercitationem
            provident dolores. Officia nemo asperiores sint sit! Tempora ullam quaerat in, quae sint iusto officiis eius
            ratione quam odio neque repellendus voluptate dolores fugit ipsum corrupti hic unde quisquam. Sequi, quam
            vel delectus fugiat quae totam voluptas, consequatur optio magni beatae provident quia, reprehenderit veniam
            dolorum porro ullam unde obcaecati libero ex deserunt autem. Voluptatibus?</p>
        <p>Deleniti quod mollitia vero tempora, sapiente omnis necessitatibus aut vitae sit eum laborum illo iure soluta
            ullam ipsam quae consequuntur. Maxime culpa doloremque dignissimos quisquam consequuntur magni omnis
            blanditiis libero sed necessitatibus repellendus minus voluptatem molestiae mollitia eum, reiciendis neque
            eius adipisci. Ratione, culpa a provident eligendi animi ipsam, fugit in, aliquid ex maxime unde iure. Quos
            iste dignissimos quas, nesciunt natus similique cum illo aut repudiandae error deleniti assumenda, earum vel
            quisquam doloremque, unde nisi accusamus laborum fugiat at.</p>
    </div>
</section>